@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Parkinsans&display=swap');

@import "tailwindcss";

@theme {
    --font-logo: "Kanit", sans-serif;
    --font-body: "Parkinsans", sans-serif;
}

@layer base {
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #171717 inset !important;
        -webkit-text-fill-color: white !important;
    }
}

html {
    -webkit-user-drag: none;
    user-drag: none;
    background-color: rgb(27, 27, 27);
}

.swiper-button-next,
.swiper-button-prev {
    color: #e31d26 !important;
}

.swal2-popup {
    backdrop-filter: blur(8px) !important;
    border: 1px solid #e5e7eb !important;
}

.swal2-input {
    color: #fff !important;
}

.swal2-confirm {
    background-color: #c51821 !important;
    color: #fff !important;
    font-weight: 600 !important;
    padding: 0.5rem 1rem !important;
    border-radius: 0.5rem !important;
}

.swal2-confirm:hover {
    background-color: #7a0c11 !important;
}

.swal2-cancel {
    background-color: #7e7f81 !important;
    color: #fff !important;
    font-weight: 600 !important;
    padding: 0.5rem 1rem !important;
    border-radius: 0.5rem !important;
}

.swal2-cancel:hover {
    background-color: #515252 !important;
}

.swal2-timer-progress-bar {
    background-color: #c51821 !important;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #666;
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: #e31d26;
}

/* Animaciones */
@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(20px);
        filter: blur(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.animate-reveal {
    animation: reveal 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes dynamic-in {
    0% {
        opacity: 0;
        transform: translateY(15px);
        filter: blur(8px);
    }

    10%,
    90% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
        filter: blur(4px);
    }
}

.animate-dynamic {
    animation: dynamic-in 4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.text-glow-white {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}