@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Parkinsans&display=swap');

@import "tailwindcss";

@theme {
    --font-logo: "Kanit", sans-serif;
    --font-body: "Parkinsans", sans-serif;
}

html {
    background-color: rgb(27, 27, 27);
}

.swiper-button-next,
.swiper-button-prev {
    color: #e31d26 !important;
}